{% extends 'base.html' %}
{% block head %}
<script src="{{url_for('static', filename='js/about.js')}}"></script>
<title data-i18n="about">A propos</title> <!-- Traduction du titre -->
{% endblock %}

{% block body %}
<div
    class="flex-container-about w-full space-y-5 xs:space-x-5 p-6 xs:p-0 mt-4 xs:mt-0 flex flex-col md:flex-row-reverse items-center justify-center">
    <img src="{{url_for('static', filename='images/about/about-first-img.jpg')}}"
        class="md:ml-5 w-full max-w-md h-auto shadow-lg"
        alt="Image de la page About avec des gens qui ont leurs mains sur les autres">

    <section class="max-w-lg flex flex-col space-y-5">
        <h1 class="text-2xl font-sans font-bold" data-i18n="about">A propos de nous</h1> <!-- Traduction du titre -->
        <p data-i18n="about-paragraph-1">
            Je suis un <strong data-i18n="indie-hacker">indie hacker</strong>, et ce SaaS a été conçu pour optimiser mes
            réseaux Threads.
            L'idée est de créer un outil puissant et accessible qui permet à chacun d'améliorer sa présence en ligne et
            d'automatiser ses interactions sur Threads.
            Ce projet est né d'une passion pour le développement et d'un besoin personnel de maximiser l'efficacité sur
            les réseaux sociaux.
        </p>
        <p data-i18n="about-paragraph-2">
            Ce projet a été créé dans le but de simplifier et d'automatiser les tâches répétitives sur Threads, tout en
            permettant de maximiser les résultats.
            Grâce à cet outil, vous pouvez facilement gérer vos interactions, suivre vos performances et développer
            votre présence sans y consacrer trop de temps.
        </p>
        <a href="{{ url_for('service') }}"
            class="py-2 px-3 rounded-full flex max-w-40 text-white bg-black transition-transform duration-300 ease-in-out hover:scale-105">
            <span data-i18n="cta-link">
                J'y vais de suite
            </span>
            <i
                class="fas fa-arrow-right mt-1.5 ml-3 hover:translate-x-1 transition-transform duration-300 ease-in-out"></i>
        </a>
    </section>
</div>
{% endblock %}