{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/pricing.js') }}" defer></script>
<title>Nos prix</title>
{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="text-4xl font-bold mb-6">Nos Tarifs</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-4xl mx-auto">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold">Basic</h2>
            <p class="text-gray-500">Idéal pour tester le service</p>
            <details class="mt-1">
                <summary>Détails</summary>
            </details>
            <p class="text-3xl font-bold mt-4" id="price-basic">€0</p>
            <button class="mt-4 bg-black text-white px-4 py-2 rounded">Choisir</button>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold">Pro</h2>
            <p class="text-gray-500">Pour les usages quotidien</p>
            <details class="mt-1">
                <summary>Détails</summary>
            </details>
            <p class="text-3xl font-bold mt-4" id="price-pro">€29.99</p>
            <button class="mt-4 bg-black text-white px-4 py-2 rounded">Choisir</button>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold">Premium</h2>
            <p class="text-gray-500">Pour les TPE / entreprises</p>
            <details class="mt-1">
                <summary>Détails</summary>
            </details>
            <p class="text-3xl font-bold mt-4" id="price-premium">€100.00</p>
            <button class="mt-4 bg-black text-white px-4 py-2 rounded">Choisir</button>
        </div>
    </div>
</div>
{% endblock %}